@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family:"Roboto", sans-serif ;
}
@theme {
  --font-roboto: "Roboto", sans-serif;
}
.active {
  @apply text-green-600;
}
